*{
    margin: 0;
    padding:0
}
.tab-header{
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* margin-right: 500px; */
    gap:10px
}
hr{
    margin: 5px!important
}
.item{
    padding-right:15px;
    color: grey;
}
.spot{
    color: rgb(185, 25, 129);
    font-size: 20px;
    padding-right:21px;
    font-weight: 900;

}
.tab-header div:hover{
    cursor: pointer;
    
}
.container{
    /* border: black solid 1px; */
    padding:0px;
    margin: 10px 10% 10px;
}
.icon-header{
    width:120px;
    display:flex;
    flex-direction: row;
    gap:10px
}
.title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.header{
    display:flex;
    justify-content: center;
    color: rgb(166, 160, 160)
}
.header-detail{

    color: rgb(166, 160, 160);
    margin:0px 160px;
    text-align: center        ;

}
.content{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 40px;
}
.content-detail{
    
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
}
.title-img{
    margin:auto
}
.content-img{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-left: 50px;
    

}
.detail-img{
    color:grey;
    font-size: 14px;
    text-align: center;
}
.middle{
    width:50%;
    margin:auto;
    padding-top: 20px;
    color: rgb(204, 198, 198);
    text-align:center;
}
.content-footer{
    border: solid grey 0.5px;
    background-color: rgb(228, 219, 219);
    margin-top: 50px;
    display: flex;
    padding: 50px 20%;
    flex-direction: column;
    justify-content: center;
}
.title-footer{
    margin: auto;
   margin-bottom: 30px
}
.button-footer{
    background-color:#692469d4;
}
.footer2{
    border: solid 1px grey;
    background-color: rgb(143, 74, 143);

}
.contact{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-left: 30%;
    padding-right: 30%;
    padding-top: 20px;

    
}
.copyright{
    display:flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 10px;
    font-size: 10px;
    padding-bottom: 10px;
}
.item-footer{
    color: gainsboro;
    
}